html, body {
    margin: 0;
    padding: 0;
    height: 900px;
}

h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

.footer_text { 
    font-size: 12px; 
}

.container {
    min-height: 100%;
    position: relative;
}

.header {
    height: 120px;
    background-color: grey;
    border-bottom: 1px solid;
    box-shadow: 0 0 15px;
}

.button_container {
    text-align: center;
    height: 120px;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.header_button {
    display: inline-block;
    height: 130px;
    line-height: 130px;
    width: 300px;
    background-color: lightgrey;
    color: black;
    box-shadow: 0 0 10px;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.home_button {
    /* Add special properties */
    height: 140px;
    background-color: brown;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.header_button:hover {
    background-color: lightyellow;
    height: 140px;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.home_button:hover {
    background-color: lightgreen;
    height: 150px;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: darkgrey;
    border-top: 1px solid;
    box-shadow: 0 0 15px;
}