html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

h2 {
    text-align: right;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ol {
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    height: auto;
    border-collapse: collapse;
    display: table;
    min-width: 100%;
    position: relative;
}

.header {
    height: 120px;
    background-color: #374140;
    border-bottom: 1px solid;
    box-shadow: 0 1px 2px;
}

.button_container {
    text-align: center;
    height: 120px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.header_button {
    display: inline-block;
    height: 122px;
    line-height: 130px;
    width: 300px;
    background: linear-gradient(to bottom, #34AAE8, #458EFF);
    background: -webkit-linear-gradient(top, #34AAE8, #458EFF);
    background: -moz-linear-gradient(top, #34AAE8, #458EFF);
    background: -ms-linear-gradient(top, #34AAE8, #458EFF);
    background: -o-linear-gradient(top, #34AAE8, #458EFF);
    color: black;
    box-shadow: 0 2px 3px;
    border-bottom: 3px solid #546362;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

.header_button:hover {
    background: linear-gradient(to bottom, #4F58BF, #363E96);
    background: -webkit-linear-gradient(top, #4F58BF, #363E96);
    background: -moz-linear-gradient(top, #4F58BF, #363E96);
    background: -ms-linear-gradient(top, #4F58BF, #363E96);
    background: -o-linear-gradient(top, #4F58BF, #363E96);
    height: 130px;
    color: white;
    box-shadow: 0 2px 3px black;
    border-bottom: 5px solid #546362;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

.home_button {
    height: 130px;
    background: linear-gradient(to bottom, #4F58BF, #363E96);
    background: -webkit-linear-gradient(top, #4F58BF, #363E96);
    background: -moz-linear-gradient(top, #4F58BF, #363E96);
    background: -ms-linear-gradient(top, #4F58BF, #363E96);
    background: -o-linear-gradient(top, #4F58BF, #363E96);
    border-bottom: 5px solid #546362;
    color: white;
    box-shadow: 0 2px 3px black;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

.home_button:hover {
    background: linear-gradient(to bottom, #34AAE8, #458EFF);
    background: -webkit-linear-gradient(top, #34AAE8, #458EFF);
    background: -moz-linear-gradient(top, #34AAE8, #458EFF);
    background: -ms-linear-gradient(top, #34AAE8, #458EFF);
    background: -o-linear-gradient(top, #34AAE8, #458EFF);
    height: 140px;
    color: black;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

.download_button_area {
    display: inline-block;
}

.download_link {
    margin: 0 auto;
    width: 180px;
    border-radius: 3px;
    transition: 0.5s;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    background: linear-gradient(to bottom, #34AAE8, #458EFF);
    background: -webkit-linear-gradient(top, #34AAE8, #458EFF);
    background: -moz-linear-gradient(top, #34AAE8, #458EFF);
    background: -ms-linear-gradient(top, #34AAE8, #458EFF);
    background: -o-linear-gradient(top, #34AAE8, #458EFF);
}

.download_link:hover {
    transition: 0.5s;
    background: linear-gradient(to bottom, #4F58BF, #363E96);
    background: -webkit-linear-gradient(top, #4F58BF, #363E96);
    background: -moz-linear-gradient(top, #4F58BF, #363E96);
    background: -ms-linear-gradient(top, #4F58BF, #363E96);
    background: -o-linear-gradient(top, #4F58BF, #363E96);
}

.download_link:hover a {
    color: white;
}

.blog_link {
    margin: 0 auto;
    width: 150px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #4F58BF, #363E96);
    background: -webkit-linear-gradient(top, #4F58BF, #363E96);
    background: -moz-linear-gradient(top, #4F58BF, #363E96);
    background: -ms-linear-gradient(top, #4F58BF, #363E96);
    background: -o-linear-gradient(top, #4F58BF, #363E96);
}

.blog_link:hover {
    background: linear-gradient(to bottom, #34AAE8, #458EFF);
    background: -webkit-linear-gradient(top, #34AAE8, #458EFF);
    background: -moz-linear-gradient(top, #34AAE8, #458EFF);
    background: -ms-linear-gradient(top, #34AAE8, #458EFF);
    background: -o-linear-gradient(top, #34AAE8, #458EFF);
}

.blog_link a {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-decoration: none;
    color: white;
}

.blog_link:hover a {
    color: black;
}

.footer {
    width: 100%;
    height: auto;
    display: table-row;
    position: absolute;
    background-color: #374140;
    border-top: 1px solid;
    box-shadow: 0 -1px 2px;
    color: #FFFFFF;
}

.footer p {
    margin: auto;
    font-size: 12px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer a {
    color: #FFFFF9;
    text-decoration: underline;
    font-size: 1em;
}