html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: right;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ol {
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.footer_text { 
    font-size: 12px; 
}

.container {
    background-color: #FFFFF9;
    height: auto;
    border-collapse: collapse;
    display: table;
    min-width: 100%;
    position: relative;
}

.header {
    height: 120px;
    background-color: #374140;
    border-bottom: 1px solid;
    box-shadow: 0 1px 2px;
}

.button_container {
    text-align: center;
    height: 120px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header_button {
    display: inline-block;
    height: 122px;
    line-height: 130px;
    width: 300px;
    background: linear-gradient(to bottom, #69D2E7, #22B5D3);
    background: -webkit-linear-gradient(top, #69D2E7, #22B5D3);
    background: -moz-linear-gradient(top, #69D2E7, #22B5D3);
    background: -ms-linear-gradient(top, #69D2E7, #22B5D3);
    background: -o-linear-gradient(top, #69D2E7, #22B5D3);
    color: black;
    box-shadow: 0 2px 3px;
    border-bottom: 3px solid #546362;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

.header_button:hover {
    background: linear-gradient(to bottom, #F38630, #E76C0D);
    background: -webkit-linear-gradient(top, #F38630, #E76C0D);
    background: -moz-linear-gradient(top, #F38630, #E76C0D);
    background: -ms-linear-gradient(top, #F38630, #E76C0D);
    background: -o-linear-gradient(top, #F38630, #E76C0D);
    height: 130px;
    border-bottom: 5px solid #546362;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

.home_button {
    height: 130px;
    background: linear-gradient(to bottom, #F38630, #E76C0D);
    background: -webkit-linear-gradient(top, #F38630, #E76C0D);
    background: -moz-linear-gradient(top, #F38630, #E76C0D);
    background: -ms-linear-gradient(top, #F38630, #E76C0D);
    background: -o-linear-gradient(top, #F38630, #E76C0D);
    border-bottom: 5px solid #546362;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

.home_button:hover {
    background: linear-gradient(to bottom, #FA6900, #CC5500);
    background: -webkit-linear-gradient(top, #FA6900, #CC5500);
    background: -moz-linear-gradient(top, #FA6900, #CC5500);
    background: -ms-linear-gradient(top, #FA6900, #CC5500);
    background: -o-linear-gradient(top, #FA6900, #CC5500);
    height: 140px;
    -moz-transition: 0.15s all ease-in-out;
    -ms-transition: 0.15s all ease-in-out;
    -webkit-transition: 0.15s all ease-in-out;
    -o-transition: 0.15s all ease-in-out;
}

#home_padder {
    height: 300px;
}

.footer {
    width: 100%;
    display: table-row;
    vertical-align: bottom;
    height: 50px;
    position: absolute;
    background-color: #374140;
    border-top: 1px solid;
    box-shadow: 0 -1px 2px;
    color: #FFFFFF;
}